<!DOCTYPE html>
<html>
  <head>
    <title>Avernus Map</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/dm/style/avernus-map.css" />
    <link rel="stylesheet" href="/dm/style/infernal-button.css" media="screen" />
    
    <link rel="stylesheet" href="/dm/style/imported.css" media="screen" />
    <link rel="stylesheet" href="/dm/style/locations.css" media="screen" />
    <link rel="stylesheet" href="/dm/style/modals.css" media="screen" />

    <link rel="stylesheet" href="/dm/style/hexagon.css" media="screen" />

    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=MedievalSharp"
    />

    <link rel="shortcut icon" type="image/x-icon" href="/dm/images/favicon.ico" />

    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <script src="/dm/javascript/vue.js"></script>
    <!-- <script src="../data/avernus-data.js"></script> -->
    <script src="/dm/javascript/auxiliary.js"></script>
  </head>
  <body>
    <div class="honeycomb" :class="map" id="app">
      <div v-for="element in printable">
        <row :element="element" @open-modal="openLocationModal"></row>
        <div :class="invisTerr" style="position: absolute" >
          <img class="hexImg noselect" v-for="terr in element" :id="terr.hex" :src="'/dm/images/avernus-tiles/'+terr.terrain[0]+'.png'" />
        </div>
      </div>
      <img class="upperLev" src="/dm/images/upper.png" v-if="!showTerrain" />
      
      <!-- Location Modal -->
      <location-modal v-if="showLocationModal" :region="'avernus'" :hex="selectedHex" @close-modal="closeLocationModal" @location-updated="handleLocationUpdate" :editable="true"></location-modal>
    </div>

    <button class="infernal-button floating-2" onclick="app.swapMap()">Swap map</button>
    <a href="/dm/locations/elturel" class="infernal-button floating">Elturel</a>

    <script src="/components/components.js"></script>
    <script src="/dm/javascript/avernus.js"></script>
  </body>
</html>