<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Avernus Map</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/player/static/style/avernus-map.css" />
    <link rel="stylesheet" href="/player/static/style/infernal-button.css" media="screen" />
    <link rel="stylesheet" href="/dm/style/modals.css" media="screen" />
    <!-- <link rel="stylesheet" type="text/css" href="/player/static/style/map.css" /> -->
    <link rel="stylesheet" type="text/css" href="/player/static/style/buttons.css" />
    <link rel="stylesheet" type="text/css" href="/player/static/style/quest-journal.css" />
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=MedievalSharp" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/player/static/images/favicon.ico" />
  </head>

  <body>
    <div id="app">
      <div class="honeycomb-container">
        <div class="honeycomb mapClass" v-if="responseAvailable == true && !questBoardOpen" >
          <row v-for="element in printable" :element="element" :printable="printable" @open-modal="openLocationModal"></row>
        </div>
      </div>

      <!-- <button class="button quest-button" onclick="app.toggleQuests()">Journal</button> -->
      <div v-if="questBoardOpen" class="quest-container">
        <div class="quest-journal">
          Quest Journal
          <button
            class="button infernal-button close-button"
            onclick="app.toggleQuests()"
          >
            Close
          </button>
        </div>

        <div class="quest-container-columns">
          <div class="quest-column quest-list">
            <collapsible-list
              :items="quests"
              :depth="0"
              @item-clicked="handleItemToggle"
            ></collapsible-list>
          </div>
          <div class="quest-column quest-info">
            <template v-if="selectedQuest">
              <div class="quest-details" v-html="selectedQuest.details"></div>
            </template>
            <template v-else>
              <div class="placeholder-skull"></div>
            </template>
          </div>
        </div>
      </div>
    </div>
    <a href="/player/elturel" class="infernal-button floating">Elturel</a>
    <script src="/components/components.js"></script>
    <script src="/player/static/javascript/avernus.js"></script>
  </body>
</html>
